.App-header {
  background: #1e1f20;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 2px 3px rgba(#1e1f20, 0.2);

  > p {
    color: #d7d7d7;
  }
}

.banner {
  color: #d7d7d7;
  font-style: italic;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
  transform: rotate(-10deg);

  &__title {
    font-weight: 700;
    display: block;
    color: #61dafb;
  }

  &__caption {
    font-size: 22px;
    display: block;
  }
}
